<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="SQLSERVERCONN" connectionString="Data Source=BACHDX;Initial Catalog=CMS;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>-->
    <add name="Pvn.CMS" connectionString="Server=117.6.162.49; Database= PVN.CMS.Internet;User ID=sa;Password=Paic@2015"/>
  </connectionStrings>
</configuration>